<div class="checkout-container">
  <form (submit)="submitCheckout(f)" [formGroup]="checkoutForm">
    <hr/>
    Name: <input name="name" formControlName="name">
    <span *ngIf="!checkoutForm.get('name').valid && checkoutForm.get('name').touched">Name is required!</span>
    <hr/>
    Last Name: <input name="lastName" formControlName="lastName">
    <span *ngIf="!checkoutForm.get('lastName').valid && checkoutForm.get('lastName').touched">Last Name is required!</span>
    <hr/>
    Email: <input name="email" formControlName="email">
    <span *ngIf="!checkoutForm.get('email').valid &&
                  checkoutForm.get('email').touched &&
                  checkoutForm.get('email').errors['required']">Email is required!</span>

    <span *ngIf="!checkoutForm.get('email').valid &&
                  checkoutForm.get('email').touched &&
                  checkoutForm.get('email').errors['email'] &&
                  !checkoutForm.get('email').errors['required']">This is not a valid email</span>
    <hr/>
    Gender:
    <div>
      <label for="male">Male</label>
      <input id="male" type="radio" name="gender" value="male" formControlName="gender">
      <label for="female">Male</label>
      <input id="female" type="radio" name="gender" value="female" formControlName="gender">
    </div>
    <hr/>
    Address: <input name="address" formControlName="address">
    <hr/>
    Zip Code: <input type="number" name="zipCode" formControlName="zipCode">
    <span *ngIf="!checkoutForm.get('zipCode').valid &&
                  checkoutForm.get('zipCode').touched &&
                  checkoutForm.get('zipCode').errors['required']">Zip Code is required!</span>

    <span *ngIf="!checkoutForm.get('zipCode').valid &&
                  checkoutForm.get('zipCode').touched &&
                  checkoutForm.get('zipCode').errors['min'] &&
                  !checkoutForm.get('zipCode').errors['required']">Zip Code min length is 5 digits</span>

    <span *ngIf="!checkoutForm.get('zipCode').valid &&
                  checkoutForm.get('zipCode').touched &&
                  checkoutForm.get('zipCode').errors['zipCodeForbidden'] &&
                  !checkoutForm.get('zipCode').errors['required']">Zip Code cannot be {{ checkoutForm.get('zipCode').value }}</span>
    <hr/>
    <button [disabled]="checkoutForm.invalid">Buy!</button>
    <hr/>
  </form>

  <span><b>Valid? </b>{{checkoutForm.valid}}</span>
  <pre>{{checkoutForm.value |json}}</pre>

</div>
