<div class="checkout-container">
  <form (submit)="submitCheckout(f)" #f="ngForm">
    <hr/>
    Name: <input #name="ngModel" name="name" ngModel required>
    <span *ngIf="!name.valid && name.touched">Name is required!</span>
    <hr/>
    Last Name: <input #lastName="ngModel" name="lastName" ngModel required>
    <span *ngIf="!lastName.valid && lastName.touched">Last Name is required!</span>
    <hr/>
    Email: <input #email="ngModel" email name="email" ngModel required>
    <span *ngIf="!email.valid && email.touched">Email is required!</span>
    <hr/>
    Gender:
    <div>
      <label for="male">Male</label>
      <input id="male" type="radio" name="gender" value="male" ngModel required>
      <label for="female">Male</label>
      <input id="female" type="radio" name="gender" value="female" ngModel required>
    </div>
    <hr/>
    Address: <input name="address" ngModel required>
    <hr/>
    Zip Code: <input #zipCode="ngModel" type="number" name="zipCode" ngModel required>
    <span *ngIf="!zipCode.valid && zipCode.touched">Zip Code is required!</span>
    <hr/>
    <button [disabled]="f.invalid">Buy!</button>
    <hr/>
  </form>

  <span><b>Valid? </b>{{f.valid}}</span>
  <pre>{{f.value |json}}</pre>

</div>
